.book-card {
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    height: 700px;
}

.book-image {
    object-fit: fill; 
    height: 600px;

}

.book-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.text-descr{
    font-size: 17px;
}
.book-details-card {
    padding: 20px;
    height: 700px;
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.favIcon {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    transition: color 0.2s;
}

.favIcon:hover {
    color: red;
}
