.recommendations-container {
    margin: 20px 0;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.recommendations-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
}

.recommendations-card-group {
    justify-content: center;
}

.recommendations-card {
    margin: 10px;
    width: 150px; 
    height: 400px;
    transition: transform 0.2s;
}

.recommendations-card:hover {
    transform: scale(1.05);
}
.recommendations-card img{
    width: 100%;
    height: 100%;
}

.no-recommendations {
    text-align: center;
    color: #555;
    font-size: 18px;
}
