.popular {
    margin-top: 30px;
    padding: 30px 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.popular h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
    color: #333;
}


.p_card {
    width: 300px;
    height: 280px;
    border: none;
    transition: transform 0.2s, box-shadow 0.2s;
    border-radius: 10px;
    overflow: hidden;
}

.p_card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.p_card img {
    width: 100%;
    height: 60%;
    border-bottom: 2px solid #ac3b61; 
}

.p_card-title {
    font-size: 18px;
    text-align: center;
    margin: 5px 0 0 0 ;
    color: #ac3b61;
}

.p_card-footer {
    background-color: #f8f9fa;
    border-top: 1px solid #e0e0e0;
    text-align: center;
    margin-bottom: 5px;
}

