.history-container {
    padding: 20px;
    background-color: #f4f4f4;
}

.history-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    color: #333;
}

.history-user {
    text-align: center;
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 15px;
}

.history-list {
    list-style-type: none;
    padding: 0;
}

.history-scrollable {
    max-height: 200px; /* Задайте высоту для прокрутки */
    overflow-y: auto;  /* Включаем вертикальную прокрутку */
    border: 1px solid #ccc; /* Добавляем границу */
    border-radius: 5px; /* Закругляем углы */
    padding: 10px; /* Добавляем отступы */
    background: white; /* Фон списка */
}

.history-item {
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background 0.3s;
}

.history-item:hover {
    background: #e9ecef;
}
